<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/story.css">
  <title>Our Story</title>
</head>
<body>
  <h1 class="title">💜 Our Story</h1>
  <p class="clock-text">We've been together for:</p>
  <div id="relationship-clock"></div>


  <div class="timeline">

    <div class="container left">
      <h2>How it started</h2>
      <img src="../img/story1.png" alt="">
      <p>This is our first convo... I still remember na gulat ako kasi pag gising ko, may chat ka! HAHAHA</p>
    </div>

    <div class="container right">
      <h2>First Picture</h2>
      <img src="../img/photo1.jpg" alt="">
      <p>Pauwi na tayo niyan, naglalakad... hinintay mo rin akong makasakay.</p>
    </div>

    <div class="container left">
      <h2>Sinagot mo ako </h2>
      <img src="../img/dec.jpg" alt="">
          <p>Yung araw na to hinatid kita tas pag uwi ko may chat ka saken na <strong>ILOVEYOU</strong> diko alam na sinagot muna pala ako nalaman kona lang nong December 24 ata yun mag 1 month na diko alam</p>
    </div>

    <div class="container right">
      <h2>Your Birthday 🎂</h2>
      <img src="../img/photo8.jpg" alt="">
      <p>We celebrated your birthday sa SM. One of our best memories kahit pagod sa lakad 💜</p>
    </div>

    <div class="container left">
      <h2>Your Gift to Me 🎁</h2>
      <img src="../img/gift.jpg" alt="">
      <p>Salamat sa gift... maliit man sabi mo, pero sa puso ko sobrang laki at special.</p>
    </div>

    <div class="container right">
      <h2>Acquaintance Party</h2>
      <img src="../img/photo16.jpg" alt="">
      <p>Naisayaw kita! Isa to sa mga pinakamasayang gabi, kahit napuyat. </p>
    </div>

    <div class="container end">
      <p>Salamat sa lahat ng nagawa mo. I know minsan may di pagkakaintindihan, pero I’m always grateful. 💖</p>
    </div>
  </div>
  <script src="../js/clock.js"></script>
</body>
</html>
